<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfC-nFP7goeudSjWT_DCRvRLfj2I84jXk</string>
	<key>GCM_SENDER_ID</key>
	<string>313173297807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Owen.LoginforApp</string>
	<key>PROJECT_ID</key>
	<string>mygympal-adb13</string>
	<key>STORAGE_BUCKET</key>
	<string>mygympal-adb13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313173297807:ios:49613ea3b20a2699e97efa</string>
</dict>
</plist>